1. Write a Python program to find sum of elements in list?

In [12]:
x=[4,8,9,7]
sum=0
for i in x:
  sum=sum+i
  i=i+i
print(sum)

28

In [16]:
x=[4,8,9,7]
sum=0
for i in range(0,len(x)):
  sum=sum+x[i]
print(sum)

28

2. Write a Python program to Multiply all numbers in the list?

In [17]:
x=[4,8,9,7]
mul=1
for i in x:
  mul=mul*i
  i=i*i
print(mul)

2016

In [18]:
x=[4,8,9,7]
mul=1
for i in range(0,len(x)):
  mul=mul*x[i]
print(mul)

2016

3. Write a Python program to find smallest number in a list?

In [25]:
l=[ int(l) for l in input("List:").split(",")]
print("The list is ",l)
min1 = l[0]
for i in range(len(l)):
	if l[i] < min1:
		min1 = l[i] 
print("The smallest element in the list is ",min1)

List:5,6,9,10,25,80
The list is  [5, 6, 9, 10, 25, 80]
The smallest element in the list is  5

4. Write a Python program to find largest number in a list?

In [26]:
l=[ int(l) for l in input("List:").split(",")]
print("The list is ",l)
max1 = l[0]
for i in range(len(l)):
	if l[i] > max1:
		max1 = l[i] 
print("The largest element in the list is ",max1)

List:50,20,100,200,3
The list is  [50, 20, 100, 200, 3]
The largest element in the list is  200

5. Write a Python program to find second largest number in a list?

In [35]:
l=[ int(l) for l in input("List:").split(",")]
#l=[1,2,3,4,5]
print("The list is ",l)
max1 = l[0]
l2=[]
for i in range(len(l)):
  if l[i] > max1:
    max1 = l[i]
print("The largest element in the list is ",max1)
#for second maximum element of list
for j in range(len(l)):
  if l[j]<max1:
    l2.append(l[j])
print(l2)
max2=l2[0]
for k in range(len(l2)):
  if l[k]>max2:
    max2=l[k]

print("The  Second largest element in a list is:",max2)

List:5,10,15,20,30
The list is  [5, 10, 15, 20, 30]
The largest element in the list is  30
[5, 10, 15, 20]
The  Second largest element in a list is: 20

6. Write a Python program to find N largest elements from a list?

In [39]:
def Nmaxelements(list1, N):
	final_list = []

	for i in range(0, N):
		max1 = 0
		
		for j in range(len(list1)):	
			if list1[j] > max1:
				max1 = list1[j]
				
		list1.remove(max1)
		final_list.append(max1)
		
	print(final_list)

# Driver code
list1=[ int(i) for i in input().split(',')]
N = int(input("Enter the Number of maximum element in list:"))
# Calling the function
Nmaxelements(list1, N)

10,6,13,25,22,10
Enter the Number of maximum element in list:4
[25, 22, 13, 10]

7. Write a Python program to print even numbers in a list?

In [40]:
x=[ int(i) for i in input().split(',')]
for i in x:
  if i%2==0:
    print("The even number of list are following: ",i)

1,2,3,4,5,6,7,8,9,10
The even number of list are following:  2
The even number of list are following:  4
The even number of list are following:  6
The even number of list are following:  8
The even number of list are following:  10

8. Write a Python program to print odd numbers in a List?

In [41]:
x=[ int(i) for i in input().split(',')]
for i in x:
  if i%2!=0:
    print("The odd number of list are following: ",i)

1,2,3,4,5,6,7,8,9
The odd number of list are following:  1
The odd number of list are following:  3
The odd number of list are following:  5
The odd number of list are following:  7
The odd number of list are following:  9

9. Write a Python program to Remove empty List from List?

In [42]:
test_list = [5, 6, [], 3, [], [], 9]
res = [ele for ele in test_list if ele != []]
print("List after empty list removal : " + str(res))

List after empty list removal : [5, 6, 3, 9]

10. Write a Python program to Cloning or Copying a list?

In [44]:
# importing copy module
import copy
li1 = [1, 2, 3,5, 4]
li2 = copy.copy(li1)

print(li2)

[1, 2, 3, 5, 4]

11. Write a Python program to Count occurrences of an element in a list?

In [46]:
li1 = [1, 2, 3, 5, 4, 4]
li1.count(4)

2